---
import type { string } from 'astro/zod';

  interface Props {
    title: string;
    stack1: string;
    stack2: string;
    stack3: string;
    description: string;
    github: string;
    website: string;
    img:string;
    color: string;
    width: string;
    height: string;
    size: string;
  }

  const { title, stack1, stack2, stack3, description, github, website,img, color, width, height,size} = Astro.props

---
<style>
.bgCover{
  background-color: red;
  position: absolute;
  z-index: 10;
}
.product-item { 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transition: background-color 0.3s ease;
}

.item-content {
  padding: 20px;
  text-align: center;
  transition: color 0.3s ease;
}



.item-description {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 20px;
  transform: translateY(100%);
  transition: transform 0.3s ease;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-item:hover {
  background-color: #000; /* Change item background color to black on hover */
}

.product-item:hover .project {
  display: none;
}
.product-item:hover .item-description {
  transform: translateY(0); /* Slide the description up into view */
}

.projectBg{
  background-color: #0000006c;
  width: 100%;
  height: 100%;
}
.project{
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.719);

}

.projectButtons{
  background-color: #87878746;
  background-image: linear-gradient(90deg, #8b8b8b50, #0000008a);
  background-size: 100%;
  border-radius: 20px;
  object-fit: cover;
  transition: all .2s ease;
  color: white;

  
}
.projectButtons:hover{
  background-color: #00c4f546;
  background-image: linear-gradient(90deg, #000f185e, #0170ab77);
  box-shadow: 2px 3px 7px rgba(0, 251, 243, 0.441);

  transition: all .2s ease;

}


</style>

<section class="product-item rounded-3xl overflow-hidden " 
style={`background-image: url(${img});
  outline: 0.1px solid ${color};
  width: ${width};
  height: ${height}
 `}>


  <div class="item-content">
    <h1 class="item-title text-white m-0 text-3xl navFont project absolute right-0 left-0 top-0 p-4">{title}</h1>

    <div class=" flex absolute bottom-0 right-0 left-0 justify-center gap-6 project p-4">
      <img class="w-10 h-10" src={stack1} alt="">
      <img class="w-10 h-10" src={stack2} alt="">
      <img class="w-10 h-10" src={stack3} alt="">
    </div>

  </div>



  <div class="item-description">
    <p class="pt-4 text-justify font-mono " style=`font-size: ${size} ;`>{description}</p>

    <div class="flex justify-center items-center absolute right-0 left-0 bottom-5 gap-4  ">

      <a href={github} class="projectButtons flex  w-fit rounded-2xl  justify-center items-center gap-2 p-1">
        <img src="/github.png " alt="" class="w-8">
        <p>Github</p>
      </a>
      <a href={website} class="projectButtons flex  w-fit rounded-2xl navFont justify-center items-center gap-2 p-1">
        <img src="/web.png " alt="" class="w-8">
        <p>Website</p>
      </a>


    </div>
  </div>

  <div class="projectBg right-0 left-0 bottom-0 top-0"></div>
</section>